name: CI - Backend

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: backend/package-lock.json

      - name: Install deps
        run: npm ci

      - name: Show variable (allowed)
        run: echo "APP_ENV=${{ vars.APP_ENV }}"

      - name: Show secret (masked)
        run: echo "DUMMY_SECRET=${{ secrets.DUMMY_SECRET }}"
        
      - name: Run unit tests
        run: npm test

  integration-tests:
    name: Integration tests (API <-> Mongo)
    runs-on: ubuntu-latest
    needs: unit-tests
    defaults:
      run:
        working-directory: backend

    services:
      mongodb:
        image: mongo:7
        ports:
          - 27017:27017

    env:
      MONGO_URI: mongodb://127.0.0.1:27017/test_ci

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: backend/package-lock.json

      - name: Install deps
        run: npm ci

      - name: Wait for MongoDB
        run: |
          for i in {1..30}; do
            (echo > /dev/tcp/127.0.0.1/27017) >/dev/null 2>&1 && echo "MongoDB is up" && exit 0
            echo "Waiting for MongoDB... ($i/30)"
            sleep 1
          done
          echo "MongoDB did not start in time" && exit 1

      - name: Run integration tests
        run: npm run test:integration
  self-hosted-proof:
    name: Proof job on self-hosted runner
    runs-on: self-hosted
    needs: unit-tests
    steps:
      - run: echo Running on self-hosted runner
      - run: echo Runner name is %RUNNER_NAME%
